<section class="flex-container">

    <div class="card highlight-card-quarter card-small-quarter" >
      <div class="q1-card" (click)="forQ1($event)" >Q1</div>
       <mat-accordion class="panel-q1" *ngIf="!showPanelQ1" (click)="$event.stopPropagation()">
         <div class="centered" style="left: 15%;">
          <mat-expansion-panel  hideToggle >
            <mat-expansion-panel-header>
              <mat-panel-title style="font-weight: bold;">Cars launched in Q1 (Jan - Mar 2020)</mat-panel-title>
            </mat-expansion-panel-header>
            <!--car details panel for Q1-->
             <mat-expansion-panel *ngFor="let car of cars | slice:0:2" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title style="font-weight: bold;">{{ car.model }}</mat-panel-title>
               </mat-expansion-panel-header>
                <p>Make : {{ car.make }}</p>
                <p>Price : {{ car.price }}</p>
                <p>Fuel System : {{ car.features.fuelSystem }}</p>
                <p>Engine : {{ car.engine }}</p>
                <p>Mileage : {{ car.mileage }}</p>
              </mat-expansion-panel>
            </mat-expansion-panel>
         </div>
         
 </mat-accordion>
    </div>
    <div id="line"></div>
    <div class="card highlight-card-quarter card-small-quarter" >
      <div class="q1-card" (click)="forQ2($event)">Q2</div>
      <mat-accordion class="panel-q1" *ngIf="!showPanelQ2" (click)="$event.stopPropagation()">
        <div class="centered" style="left:-10%">
          <mat-expansion-panel  hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title style="font-weight: bold;">Cars launched in Q2 (Apr - June 2020)</mat-panel-title>
            </mat-expansion-panel-header>
            <!--car details panel for Q1-->
             <mat-expansion-panel *ngFor="let car of cars | slice:2:4" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title style="font-weight: bold;">{{ car.model }}</mat-panel-title>
               </mat-expansion-panel-header>
                <p>Make : {{ car.make }}</p>
                <p>Price : {{ car.price }}</p>
                 <p>Fuel System : {{ car.features.fuelSystem }}</p>
                <p>Engine : {{ car.engine }}</p>
                <p>Mileage : {{ car.mileage }}</p>
              </mat-expansion-panel>
            </mat-expansion-panel>
        </div>
      
     </mat-accordion>
    </div>
    <div id="line"></div>
    <div class="card highlight-card-quarter card-small-quarter" >
      <div class="q1-card" (click)="forQ3($event)">Q3</div>
      <mat-accordion class="panel-q1" *ngIf="!showPanelQ3" (click)="$event.stopPropagation()">
          <div class="centered" style="left: -37%;">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title style="font-weight: bold;">Cars launched in Q3 (Jul - Sept 2020)</mat-panel-title>
                </mat-expansion-panel-header>
                 <mat-expansion-panel *ngFor="let car of cars | slice:4:6" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-weight: bold;">{{ car.model }}</mat-panel-title>
                   </mat-expansion-panel-header>
                    <p>Make : {{ car.make }}</p>
                    <p>Price : {{ car.price }}</p>
                    <p>Fuel System : {{ car.features.fuelSystem }}</p>
                    <p>Engine : {{ car.engine }}</p>
                    <p>Mileage : {{ car.mileage }}</p>
                  </mat-expansion-panel>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-weight: bold;">Upcoming Cars in Q3 (Jul - Sept 2020)</mat-panel-title>
                    </mat-expansion-panel-header>
                     <mat-expansion-panel *ngFor="let car of cars | slice:6:8" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-weight: bold;">{{ car.model }}</mat-panel-title>
                       </mat-expansion-panel-header>
                        <p>Make : {{ car.make }}</p>
                        <p>Price : {{ car.price }}</p>
                       <p>Fuel System : {{ car.features.fuelSystem }}</p>
                        <p>Engine : {{ car.engine }}</p>
                        <p>Mileage : {{ car.mileage }}</p>
                      </mat-expansion-panel>
                </mat-expansion-panel>
           </div>
    </mat-accordion>
   </div>
    <div id="line"></div>
    <div class="card highlight-card-quarter card-small-quarter" >
      <div class="q1-card" (click)="forQ4($event)">Q4</div>
      <mat-accordion class="panel-q1" *ngIf="!showPanelQ4" (click)="$event.stopPropagation()">
          <div class="centered" style="left:-63%">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title style="font-weight: bold;">Cars launched in Q4 (Oct - Dec 2020)</mat-panel-title>
                </mat-expansion-panel-header>
                 <mat-expansion-panel *ngFor="let car of cars | slice:8:10" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-weight: bold;">{{ car.model }}</mat-panel-title>
                   </mat-expansion-panel-header>
                    <p>Make : {{ car.make }}</p>
                    <p>Price : {{ car.price }}</p>
                    <p>Fuel System : {{ car.features.fuelSystem }}</p>
                    <p>Engine : {{ car.engine }}</p>
                    <p>Mileage : {{ car.mileage }}</p>
                  </mat-expansion-panel>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-weight: bold;">Upcoming Cars in Q4 (Oct - Dec 2020)</mat-panel-title>
                    </mat-expansion-panel-header>
                     <mat-expansion-panel *ngFor="let car of cars | slice:10:12" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-weight: bold;">{{ car.model }}</mat-panel-title>
                       </mat-expansion-panel-header>
                        <p>Make : {{ car.make }}</p>
                        <p>Price : {{ car.price }}</p>
                        <p>Fuel System : {{ car.features.fuelSystem }}</p>
                        <p>Engine : {{ car.engine }}</p>
                        <p>Mileage : {{ car.mileage }}</p>
                      </mat-expansion-panel>
                    </mat-expansion-panel>
                </div>
       </mat-accordion>
    </div>
   
 </section>